.caja {
    border: 1px solid black;
    background-color: rgba(185, 191, 255, 0.664);
    width: 200px;
}

* {
    box-sizing: border-box;
}

.c1 {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;

}

.c2 {
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
}

.c3 {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    height: 450px;
    align-items: center;
}